html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #5B20B3;
    display: flex;
    flex-direction: column;
    font-family: 'Lekton', monospace;
    color:aliceblue;
}

main {
    flex: 1; 
}

.header-box {
    text-align: center;
    border-bottom: 1px solid #FF1D1D;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-box a {
    color: aliceblue;
    text-decoration: none;
    margin: 0 15px;
    font-size: 15px;
}

.home-img {
    width: 350px;
    height: auto;
    margin-left: 900px;
    margin-top: 100px;
    border: #FF1D1D 1px solid;
}

.home-text {
    color: #FFF;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.4px;
}

.footer-box {
    padding: 20px;
    background-color: #000;
    text-align: center;
    font-size: 15px;
}

