html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #5B20B3;
    display: flex;
    flex-direction: column;
    font-family: 'Lekton', monospace;
    color:aliceblue;
}



.header-box {
    text-align: center;
    border-bottom: 1px solid #FF1D1D;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-box a {
    color: aliceblue;
    text-decoration: none;
    margin: 15px;
    font-size: 17px;
}

.home-content {
    display: flex;
    flex-direction: row-reverse; 
    align-items: center;         
    justify-content: center;
    gap: 80px;                   
    margin-bottom: 300px;        
    padding-top: 100px;
}

.home-img {
    width: 350px;
    height: auto;
    border: #FF1D1D 1px solid;
    margin: 0;                   
}

.home-wrapper {
    max-width: 400px;
}

.home-text-1 {
    color: #FFF;
    font-size: 25px;
    font-weight: bold;
}

.home-text-2 {
    color: #FFF;
    font-size: 20px;
    font-style: italic;
    letter-spacing: 0.4px;
}

.divider {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 200px;
    }


    .quote {
    margin: 0px auto 40px auto;
    width: 150px;
    color: #D9D9D9;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    width: 260px;
    }


    .quote-author {
    color: #D9D9D9;
    text-align: center;
    font-weight: 700;
    font-size: 17px;
    padding: 0px;
    margin-top: 5px;
    }


.footer-box {
    padding: 20px;
    background-color: #000;
    text-align: center;
    font-size: 15px;
}

